<div class="animated fadeIn">

    <div class="row">

        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-block p-0 clearfix">
                    <i class="fa fa-cogs bg-primary p-2 px-3 font-2xl mr-1 pull-left"></i>
                    <div class="h5 mb-0 pt-1 text-xs-center">4.589</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs text-xs-center">Clients</div>
                </div>
            </div>
        </div>
        <!--/.col-->

        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-block p-0 clearfix">
                    <i class="fa fa-laptop bg-danger p-2 px-3 font-2xl mr-1 pull-left"></i>
                    <div class="h5 mb-0 pt-1 text-xs-center">789</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs text-xs-center">Deals</div>
                </div>
            </div>
        </div>
        <!--/.col-->

        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-block p-0 clearfix">
                    <i class="fa fa-moon-o bg-success p-2 px-3 font-2xl mr-1 pull-left"></i>
                    <div class="h5 mb-0 pt-1 text-xs-center">$1.299</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs text-xs-center">Income</div>
                </div>
            </div>
        </div>
        <!--/.col-->

        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-block p-0 clearfix">
                    <i class="fa fa-bell bg-info p-2 px-3 font-2xl mr-1 pull-left"></i>
                    <div class="h5 mb-0 pt-1 text-xs-center">$1.999</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs text-xs-center">Account</div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-9">
            <div class="card" ng-controller="mainChartCtrl">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-8">
                            <h4 class="card-title">Traffic</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <br>
                            <div class="chart-wrapper" style="height:250px;margin-top:20px;">
                                <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-click="onClick" chart-options="options" chart-colors="colors" height="250"></canvas>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="card-title">Details</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                            <br>
                            <div class="mb-h">Visits (40% - 29.703 Users)</div>
                            <progress class="progress progress-success progress-sm" value="40" max="100" aria-describedby="example-caption-1"></progress>

                            <div class="mb-h">Unique (20% - 24.093 Unique Users)</div>
                            <progress class="progress progress-info progress-sm" value="20" max="100" aria-describedby="example-caption-2"></progress>

                            <div class="mb-h">Pageviews (60% - 78.706 Views)</div>
                            <progress class="progress progress-warning progress-sm" value="60" max="100" aria-describedby="example-caption-3"></progress>

                            <div class="mb-h">New Users (80% - 22.123 Users)</div>
                            <progress class="progress progress-danger progress-sm" value="80" max="100" aria-describedby="example-caption-4"></progress>

                            <div class="mb-h">Bounce Rate (40.15%)</div>
                            <progress class="progress progress-success progress-sm" value="40" max="100" aria-describedby="example-caption-5"></progress>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.card-->
        </div>
        <!--/.col-->
        <div class="col-lg-3">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Browsers</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    <br>
                    <div class="chart-wrapper" style="height:250px;margin-top:20px;" ng-controller="DoughnutCtrl">
                        <canvas class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colors="colors" chart-options="options" height="250"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-block">
                            <div class="h1 text-muted text-xs-right mb-2">
                                <i class="icon-people"></i>
                            </div>
                            <div class="h4 mb-0">87.500</div>
                            <small class="text-muted text-uppercase font-weight-bold">Visitors</small>
                            <progress class="progress progress-xs progress-info mt-1 mb-0" value="25" max="100">25%</progress>
                        </div>
                    </div>
                </div>
                <!--/.col-->
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-block">
                            <div class="h1 text-muted text-xs-right mb-2">
                                <i class="icon-user-follow"></i>
                            </div>
                            <div class="h4 mb-0">385</div>
                            <small class="text-muted text-uppercase font-weight-bold">New Clients</small>
                            <progress class="progress progress-xs progress-success mt-1 mb-0" value="25" max="100">25%</progress>
                        </div>
                    </div>
                </div>
                <!--/.col-->
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-block">
                            <div class="h1 text-muted text-xs-right mb-2">
                                <i class="icon-basket-loaded"></i>
                            </div>
                            <div class="h4 mb-0">1238</div>
                            <small class="text-muted text-uppercase font-weight-bold">Products sold</small>
                            <progress class="progress progress-xs progress-warning mt-1 mb-0" value="25" max="100">25%</progress>
                        </div>
                    </div>
                </div>
                <!--/.col-->
                <div class="col-md-6" ng-controller="gaugeCtrl">
                    <div class="card">
                        <div class="card-block">
                            <div class="card-title text-xs-center h6 mt-1">
                                Revenue
                            </div>
                            <div class="gaugejs-wrap">
                                <canvas gaugejs options="gauge1.options" value="gauge1.value" max-value="gauge1.maxValue"></canvas>
                            </div>
                        </div>
                        <div class="card-footer">
                            <strong>$11.234,00</strong>
                            <span class="pull-right"><i class="fa fa-arrow-circle-o-up text-success"></i> 15%</span>
                        </div>
                    </div>
                </div>
                <!--/.col-->
                <div class="col-md-6" ng-controller="gaugeCtrl">
                    <div class="card">
                        <div class="card-block">
                            <div class="card-title text-xs-center h6 mt-1">
                                Profit
                            </div>
                            <div class="gaugejs-wrap">
                                <canvas gaugejs options="gauge2.options" value="gauge2.value" max-value="gauge2.maxValue"></canvas>
                            </div>
                        </div>
                        <div class="card-footer">
                            <strong>$3.733,00</strong>
                            <span class="pull-right"><i class="fa fa-arrow-circle-o-down text-danger"></i> -25%</span>
                        </div>
                    </div>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
        </div>
        <!--/.col-->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            Demographic
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-6 text-info text-xs-right">
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>
                                    <i class="fa fa-male" style="width:12px;"></i>

                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-male" style="width:12px;opacity: 0.25"></i>

                                </div>
                                <!--/col-->
                                <div class="col-md-6 text-warning">
                                    <i class="fa fa-female" style="width:12px;"></i>

                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                    <i class="fa fa-female" style="width:12px;opacity: 0.25"></i>
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                        </div>
                    </div>
                </div>
                <!--/.col-->
                <div class="col-sm-6">
                    <div class="card" ng-controller="cardChartCtrl11">
                        <div class="card-header card-header-inverse card-header-info">
                            <div class="font-weight-bold">
                                <span>SALE</span>
                                <span class="pull-right">$1.890,65</span>
                            </div>
                            <div>
                                <span>
                                    <small>Today 6:43 AM</small>
                                </span>
                                <span class="pull-right">
                                    <small>+432,50 (15,78%)</small>
                                </span>
                            </div>
                            <div class="chart-wrapper">
                                <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="40"></canvas>
                            </div>
                            <div class="chart-wrapper">
                                <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="false" chart-options="options2" chart-colors="colors2" height="40"></canvas>
                            </div>
                        </div>
                        <div class="card-block py-1 px-2">
                            <div class="row">
                                <div class="col-xs-5">
                                    <strong>+$780,98</strong>
                                    <br>
                                    <span class="text-muted">
                                        <small>Weekly change</small>
                                    </span>
                                </div>
                                <div class="col-xs-7 p-0">
                                    <div class="chart-wrapper">
                                        <canvas class="chart chart-bar pull-right" chart-data="data3" chart-labels="labels3" chart-legend="false" chart-series="false" chart-options="options3" chart-colors="colors3" height="44" width="130" style="margin-top:-7px;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-block py-0 px-2 b-t-1">
                            <div class="row">
                                <div class="col-xs-6 b-r-1 py-1">
                                    <div class="font-weight-bold">9.127</div>
                                    <div class="text-muted">
                                        <small>Deals</small>
                                    </div>
                                </div>
                                <div class="col-xs-6 py-1 text-xs-right">
                                    <div class="font-weight-bold">$189.783,87</div>
                                    <div class="text-muted">
                                        <small>Total Income</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" ng-controller="cardChartCtrl11">
                        <div class="card-header card-header-inverse card-header-success">
                            <div class="font-weight-bold">
                                <span>SALE</span>
                                <span class="pull-right">$1.890,65</span>
                            </div>
                            <div>
                                <span>
                                    <small>Today 6:43 AM</small>
                                </span>
                                <span class="pull-right">
                                    <small>+432,50 (15,78%)</small>
                                </span>
                            </div>
                            <div class="chart-wrapper">
                                <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="colors" height="40"></canvas>
                            </div>
                            <div class="chart-wrapper">
                                <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="false" chart-options="options2" chart-colors="colors2" height="40"></canvas>
                            </div>
                        </div>
                        <div class="card-block py-1 px-2">
                            <div class="row">
                                <div class="col-xs-5">
                                    <strong>+$780,98</strong>
                                    <br>
                                    <span class="text-muted">
                                        <small>Weekly change</small>
                                    </span>
                                </div>
                                <div class="col-xs-7 p-0">
                                    <div class="chart-wrapper">
                                        <canvas class="chart chart-bar pull-right" chart-data="data3" chart-labels="labels3" chart-legend="false" chart-series="false" chart-options="options3" chart-colors="colors3" height="44" width="130" style="margin-top:-7px;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-block py-0 px-2 b-t-1">
                            <div class="row">
                                <div class="col-xs-6 b-r-1 py-1">
                                    <div class="font-weight-bold">9.127</div>
                                    <div class="text-muted">
                                        <small>Deals</small>
                                    </div>
                                </div>
                                <div class="col-xs-6 py-1 text-xs-right">
                                    <div class="font-weight-bold">$189.783,87</div>
                                    <div class="text-muted">
                                        <small>Total Income</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="card-title clearfix mb-0">Traffic &amp; Sales</h3>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-outline-primary pull-right ml-1"><i class="icon-cloud-download"></i> &nbsp; Download</button>
                            <fieldset class="form-group pull-right" ng-controller="dateRangeCtrl">
                                <div class="input-group pull-right" style="width:240px;">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i>
                                    </span>
                                    <input date-range-picker class="form-control date-picker" type="text" ng-model="date" options="opts" />
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <hr class="m-0">
                    <div class="row">
                        <div class="col-sm-12 col-lg-4">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="callout callout-info">
                                        <small class="text-muted">New Clients</small>
                                        <br>
                                        <strong class="h4">9,123</strong>
                                        <div class="chart-wrapper" ng-controller="sparklineChartCtrl">
                                            <canvas class="chart chart-line" chart-data="data4" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="primary" width="100" height="30"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-6">
                                    <div class="callout callout-danger">
                                        <small class="text-muted">New Clients</small>
                                        <br>
                                        <strong class="h4">9,123</strong>
                                        <div class="chart-wrapper" ng-controller="sparklineChartCtrl">
                                            <canvas class="chart chart-line" chart-data="data3" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="danger" width="100" height="30"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                            <hr class="mt-0">
                            <ul class="horizontal-bars" ng-controller="horizontalBarsCtrl">
                                <li ng-repeat="row in data">
                                    <div class="title">
                                        {{ row.day }}
                                    </div>
                                    <div class="bars">
                                        <progress class="progress progress-xs progress-info" value="{{ row.new }}" max="100" style="margin-bottom: 2px;">{{ row.new }}%</progress>
                                        <progress class="progress progress-xs progress-danger m-0" value="{{ row.recurring }}" max="100">{{ row.recurring }}%</progress>
                                    </div>
                                </li>
                                <li class="legend">
                                    <span class="tag tag-pill tag-info"></span>
                                    <small>New clients</small>&nbsp;
                                    <span class="tag tag-pill tag-danger"></span>
                                    <small>Recurring clients</small>
                                </li>
                            </ul>
                        </div>
                        <!--/.col-->
                        <div class="col-sm-6 col-lg-4">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="callout callout-warning">
                                        <small class="text-muted">New Clients</small>
                                        <br>
                                        <strong class="h4">9,123</strong>
                                        <div class="chart-wrapper" ng-controller="sparklineChartCtrl">
                                            <canvas class="chart chart-line" chart-data="data4" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="warning" width="100" height="30"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-6">
                                    <div class="callout callout-success">
                                        <small class="text-muted">New Clients</small>
                                        <br>
                                        <strong class="h4">9,123</strong>
                                        <div class="chart-wrapper" ng-controller="sparklineChartCtrl">
                                            <canvas class="chart chart-line" chart-data="data3" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="success" width="100" height="30"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                            <hr class="mt-0">
                            <ul class="horizontal-bars type-2" ng-controller="horizontalBarsType2Ctrl">
                                <li ng-repeat="row in gender">
                                    <i ng-class="row.icon"></i>
                                    <span class="title">{{ row.title }}</span>
                                    <span class="value">{{ row.value }}%</span>
                                    <div class="bars">
                                        <progress class="progress progress-xs progress-warning m-0" value="{{ row.value }}" max="100">{{ row.value }}%</progress>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li ng-repeat="row in source">
                                    <i ng-class="row.icon"></i>
                                    <span class="title">{{ row.title }}</span>
                                    <span class="value">{{ row.value | number }}
                                        <span class="text-muted small">({{ row.percent }}%)</span>
                                    </span>
                                    <div class="bars">
                                        <progress class="progress progress-xs progress-success m-0" value="{{ row.percent }}" max="100">{{ row.percent }}%</progress>
                                    </div>
                                </li>
                                <li class="divider text-xs-center">
                                    <button type="button" class="btn btn-sm btn-link text-muted" data-toggle="tooltip" data-placement="top" title="show more"><i class="icon-options"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <!--/.col-->
                        <div class="col-sm-6 col-lg-4">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="callout">
                                        <small class="text-muted">New Clients</small>
                                        <br>
                                        <strong class="h4">9,123</strong>
                                        <div class="chart-wrapper" ng-controller="sparklineChartCtrl">
                                            <canvas class="chart chart-line" chart-data="data4" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="default" width="100" height="30"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-6">
                                    <div class="callout callout-primary">
                                        <small class="text-muted">New Clients</small>
                                        <br>
                                        <strong class="h4">9,123</strong>
                                        <div class="chart-wrapper" ng-controller="sparklineChartCtrl">
                                            <canvas class="chart chart-line" chart-data="data3" chart-labels="labels" chart-legend="false" chart-series="series" chart-options="options" chart-colors="primary" width="100" height="30"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                            <hr class="mt-0">
                            <ul class="icons-list">
                                <li>
                                    <i class="icon-screen-desktop bg-primary"></i>
                                    <div class="desc">
                                        <div class="title">iMac 4k</div>
                                        <small>Lorem ipsum dolor sit amet</small>
                                    </div>
                                    <div class="value">
                                        <div class="small text-muted">Sold this week</div>
                                        <strong>1.924</strong>
                                    </div>
                                    <div class="actions">
                                        <button type="button" class="btn btn-link text-muted"><i class="icon-settings"></i>
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <i class="icon-screen-smartphone bg-info"></i>
                                    <div class="desc">
                                        <div class="title">Samsung Galaxy Edge</div>
                                        <small>Lorem ipsum dolor sit amet</small>
                                    </div>
                                    <div class="value">
                                        <div class="small text-muted">Sold this week</div>
                                        <strong>1.224</strong>
                                    </div>
                                    <div class="actions">
                                        <button type="button" class="btn btn-link text-muted"><i class="icon-settings"></i>
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <i class="icon-screen-smartphone bg-warning"></i>
                                    <div class="desc">
                                        <div class="title">iPhone 6S</div>
                                        <small>Lorem ipsum dolor sit amet</small>
                                    </div>
                                    <div class="value">
                                        <div class="small text-muted">Sold this week</div>
                                        <strong>1.163</strong>
                                    </div>
                                    <div class="actions">
                                        <button type="button" class="btn btn-link text-muted"><i class="icon-settings"></i>
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <i class="icon-user bg-danger"></i>
                                    <div class="desc">
                                        <div class="title">Premium accounts</div>
                                        <small>Lorem ipsum dolor sit amet</small>
                                    </div>
                                    <div class="value">
                                        <div class="small text-muted">Sold this week</div>
                                        <strong>928</strong>
                                    </div>
                                    <div class="actions">
                                        <button type="button" class="btn btn-link text-muted"><i class="icon-settings"></i>
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <i class="icon-social-spotify bg-success"></i>
                                    <div class="desc">
                                        <div class="title">Spotify Subscriptions</div>
                                        <small>Lorem ipsum dolor sit amet</small>
                                    </div>
                                    <div class="value">
                                        <div class="small text-muted">Sold this week</div>
                                        <strong>893</strong>
                                    </div>
                                    <div class="actions">
                                        <button type="button" class="btn btn-link text-muted"><i class="icon-settings"></i>
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <i class="icon-cloud-download bg-danger"></i>
                                    <div class="desc">
                                        <div class="title">Ebook</div>
                                        <small>Lorem ipsum dolor sit amet</small>
                                    </div>
                                    <div class="value">
                                        <div class="small text-muted">Downloads</div>
                                        <strong>121.924</strong>
                                    </div>
                                    <div class="actions">
                                        <button type="button" class="btn btn-link text-muted"><i class="icon-settings"></i>
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <i class="icon-camera bg-warning"></i>
                                    <div class="desc">
                                        <div class="title">Photos</div>
                                        <small>Lorem ipsum dolor sit amet</small>
                                    </div>
                                    <div class="value">
                                        <div class="small text-muted">Uploaded</div>
                                        <strong>12.125</strong>
                                    </div>
                                    <div class="actions">
                                        <button type="button" class="btn btn-link text-muted"><i class="icon-settings"></i>
                                        </button>
                                    </div>
                                </li>
                                <li class="divider text-xs-center">
                                    <button type="button" class="btn btn-sm btn-link text-muted" data-toggle="tooltip" data-placement="top" title="show more"><i class="icon-options"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <!--/.col-->
                    </div>
                    <!--/.row-->
                    <br/>
                    <table class="table table-hover table-outline mb-0 hidden-sm-down">
                        <thead class="thead-default">
                            <tr>
                                <th class="text-xs-center"><i class="icon-people"></i>
                                </th>
                                <th>User</th>
                                <th class="text-xs-center">Country</th>
                                <th>Usage</th>
                                <th class="text-xs-center">Payment Method</th>
                                <th>Activity</th>
                                <th class="text-xs-center">Satisfaction</th>
                                <th class="text-xs-center"><i class="icon-settings"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-controller="usersTableCtrl">
                            <tr ng-repeat="user in users">
                                <td class="text-xs-center">
                                    <div class="avatar">
                                        <img ng-src="img/avatars/{{ user.avatar }}" class="img-avatar" alt="admin@bootstrapmaster.com">
                                        <span class="avatar-status" ng-class="{ 'tag-success' : user.status == 'active',
                                                                                'tag-warning' : user.status == 'away',
                                                                                'tag-danger'  : user.status == 'busy',
                                                                                'tag-default' : user.status == 'offline' }"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>{{ user.name }}</div>
                                    <div class="small text-muted">
                                        <span ng-if="user.new == true">New</span>
                                        <span ng-if="user.new == false">Recurring</span>
                                        | Registered: {{ user.registered }}</div>
                                </td>
                                <td class="text-xs-center">
                                    <img ng-src="img/flags/{{ user.flag }}" alt="{{ user.country }}" style="height:24px;">
                                </td>
                                <td>
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <strong>{{ user.usage }}%</strong>
                                        </div>
                                        <div class="pull-right">
                                            <small class="text-muted">{{ user.period }}</small>
                                        </div>
                                    </div>
                                    <progress class="progress progress-xs" ng-class="{ 'progress-info'    : user.usage <= 25,
                                                          'progress-success' : user.usage > 25 && user.usage <= 50,
                                                          'progress-warning' : user.usage > 50 && user.usage <= 75,
                                                          'progress-danger'  : user.usage > 75 && user.usage <= 100 }" value="{{ user.usage }}" max="100" style="margin:5px 0 0 0;">{{ user.usage }}%</progress>
                                </td>
                                <td class="text-xs-center">
                                    <i class="fa" ng-class="{ 'fa-cc-mastercard' : user.payment == 'mastercard',
                                                   'fa-cc-visa' : user.payment == 'visa',
                                                   'fa-cc-amex' : user.payment == 'amex',
                                                   'fa-cc-diners-club' : user.payment == 'diners',
                                                   'fa-cc-stripe' : user.payment == 'stripe',
                                                   'fa-paypal' : user.payment == 'paypal',
                                                   'fa-google-wallet' : user.payment == 'google' }" style="font-size:24px"></i>
                                </td>
                                <td>
                                    <div class="small text-muted">Last login</div>
                                    <strong>{{ user.activity }}</strong>
                                </td>
                                <td class="text-xs-center">
                                    <div class="gaugejs-wrap sparkline" style="width:34px;height:34px">
                                        <canvas gaugejs ng-model="gauge" gauge-type="gauge.gaugeType" options="gauge.options" value="user.satisfaction" max-value="100" animation-time="gauge.animationTime" width="34" height="34"></canvas>
                                        <span class="value">{{ user.satisfaction }}%</span>
                                    </div>
                                </td>
                                <td class="text-xs-center">
                                    <button type="button" class="btn btn-link text-muted"><i class="icon-settings"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->

</div>

<div ng-controller="toastrWelcome"></div>
